html, body{
  padding: 0;
  margin: 0;
  font-family: 'Josefin sans', sans-serif;
}
.Hero{
  height: 100vh;
  width: 100%;
  background-image: url("../images/swirls.jpg");
  background-position: top;
  background-size: cover;

}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 8% 8%;
}
.logo {
    color: #c3195d;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
nav ul li{
  list-style-type: none;
  display: inline-flex;
  padding: 10px 25px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover{
  color: red;
  transition:2s
}
.content{
  position: absolute;
  top: 50%;
  left: 8%;
  transform:translateY(-50%);
  padding-top: 50px;
}
h1{
  color: white;
  margin: 20px 0 20px;
  font-size: 75px;
}
h3{
  color: white;
  font-size: 25px;
  margin-bottom: 50px
}
h4{
  color:white;
  letter-spacing: 2px;
  font-size: 20px;
}
.Newsletter form{
  width: 380px;
  max-width: 100%;
  position: relative;
}
.Newsletter form input:first-child{
  display: inline-block;
  width: 60%;
  padding: 14px 130px 14px 15px;
  border: 2px solid  #c3195d;
  outline :focus;
  border-radius:30px;
}
.Newsletter form input:last-child{
  position:absolute;
  display: inline-block;
  outline: focus;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #c3195d;
  color: white;
  top: 6px;
  right: 6px;
  box-shadow: 0 0 5px #000, 0 0 15px #858585;
}

.about{
  width: 100%;
  padding: 100px 0;
  background-color: #101010;

}
.about img{
  height: auto;
  width: 430px
}
.about-text{
   width: 550px;
}
.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h2{
  color: white;
  font-size: 72px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5{
  color: #c3195d;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p{
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button{
  background-color: #c3195d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transform: 2s;
}
button:hover{
  background-color: transparent;
  border: 2px solid  #c3195d;
  cursor: pointer;
}


.title h2{
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.card{
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
   overflow: hidden;
   text-align: center;
}
.card i{
  font-size: 60px;
  display: block;
  text-align: center;
  margin: 25px 0;
  color: #c3195d;
}
h5{
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}
.pra p{
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
  color: #f9ecec;
}
.card .button{
  background-color: #c3195d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transform: 2s;
}
.card .button:hover{
  background-color: transparent;
  border: 2px solid  #c3195d;
  cursor: pointer;
}
.contact-me{
  width: 100%;
  height: 290px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-me p{
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}
.contact-me .button-two{
  background-color: #c3195d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transform: 2s;
}
.contact-me .button-two:hover{
  background-color: transparent;
  border: 2px solid  #c3195d;
  cursor: pointer;
}
footer{
  position: relative;
  width: 100%;
  height:400px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   }
footer p:nth-child(1){
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}
footer p:nth-child(2){
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}
.social{
  display: flex;
}
.social a{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c3195d;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.social a:hover{
  transform: scale(1.3);
  transition: .3s;
}
.end{
  position: absolute;
  color:#c3195d;
  bottom: 35px;
  font-size: 14px;
}
.contact{

  width: 500px;

}
.contact-text{
  color: white;
  align-content: left;
}
.flat{
  height: 310px;
  width: 200px;
  padding: 20px;
  background: black;
  border-radius: 25px;
  margin: 15px;
  position: relative;
   overflow: hidden;
   text-align: center;
   display: block;
}
.bx{
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 400px;
  float: left;
  top: 50px;
}
.services{
  background-color: black;
  width: 100%;
  padding:100px 0;
}
.constant{
  height: 150px;
  width: 100%;
  background-image: url("C:/Users/Hp/Desktop/img/swirls.jpg");
  background-position: top;
  background-size: cover;
}
.main-c{
  position: absolute;
  top: 50%;
  left: 8%;
  transform:translateY(-50%);
  padding-top: 50px;
  max-width: 100px;
  display: flex;

}
